body {
  background-color: #24353f;
}
h1 {
  color: #17a2b8;
}
#frameId,#displayId {
  box-shadow: rgb(0, 0, 0) -5px 2px 54px -9px;
}
#loginBtn,
#Signupbtn {
  color: #17a2b8;
  border: #17a2b8 2px solid;
}
#signupId,
#loginId {
  text-decoration: none;
  color: #fff;
}
#signupId:hover,
#loginId:hover {
  text-decoration: underline;
}
#loginBtn:hover,
#Signupbtn:hover {
  background-color: #17a2b8;
  color: white;
  transition: all 0.25s;
}
.nav-link {
  border: 1px solid #ffc107;
}
.nav-link:hover {
  background-color: #ffc107;
  color: white !important;
  transition: all 0.25s;
}
#smartLoginId nav{
  background-color: #24353f !important;
  box-shadow: rgb(0, 0, 0) -10px 10px 10px -10px;
}